<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>ONLYPYTHON</title>

    <!-- style sheets references -->
    <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link href="./main.550dcf66.css" rel="stylesheet">

    <!-- script files references -->
    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/lib/jquery/jquery.validate.min.js"></script>
    <script src="~/lib/jquery/jquery.validate.unobtrusive.min.js"></script>

    @RenderSection("ScriptSection", false)
</head>
<body>
    <div class="row">
        <div class="w3-bar w3-wide w3-padding w3-card" style="background-color: #fef3d3" role="navigation">
            <a class="w3-bar-item w3-button" asp-action="Index" asp-controller="Home"><b>ONLY</b> Python</a>

            @if (User.Identity.IsAuthenticated)
            {
                if (User.IsInRole("Lecturer"))
                {
                    <a class="w3-bar-item w3-button" asp-action="Index" asp-controller="OnlyPython"><b>Home</b></a>
                    <a class="w3-bar-item w3-button" asp-action="QuestionList" asp-controller="OnlyPython"><b>Exercise</b></a>
                    <a class="w3-bar-item w3-button" asp-action="CreateQuestion" asp-controller="OnlyPython"><b>Create</b></a>
                    <a class="w3-bar-item"><b>Logged in as Lecturer</b></a>
                }
                else
                {
                    <a class="w3-bar-item w3-button" asp-action="Index" asp-controller="OnlyPython"><b>Home</b></a>
                    <a class="w3-bar-item w3-button" asp-action="QuestionList" asp-controller="OnlyPython"><b>Exercise</b></a>
                    <a class="w3-bar-item"><b>Logged in as Student</b></a>

                }
            }

        </div>
        <div class="w3-content w3-padding" style="max-width:1564px">
            <br />
            <div class="w3-container w3-padding-32">
                <div class="row">
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>

</body>
</html>
