@model Qnsbank

@{
    ViewBag.Title = "CreateQuestion";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{

    var QuestionType = new[]
{
        new { value=1, text="MCQ"},
        new { value=2, text="Open-Ended"},
    };
}

<h2>New Question</h2>

<div class="row">
    <div class="col 2">
        <form asp-controller="OnlyPython" asp-action="CreateQuestion" method="post" class="form-horizontal" role="form">
            <div class="form-horizontal">
                <div class="form-group row row">
                    <label asp-for="Topic" class="col-sm-2 control-label">Topic :</label>
                    <div class="col-sm-4">
                        <input asp-for="Topic" class="form-control" />
                    </div>
                    <div class="col-3">
                        <span asp-validation-for="Topic" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row row">
                    <label asp-for="Question" class="col-sm-2 control-label">Question :</label>
                    <div class="col-sm-4">
                        <input asp-for="Question" class="form-control" />
                    </div>
                    <div class="col-3">
                        <span asp-validation-for="Question" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="QuestionType" class="col-sm-2 control-label">QuestionType :</label>
                    <div class="col-sm-4">
                        @foreach (var item in QuestionType)
                        {
                            <input type="radio" asp-for="QuestionType" value="@item.value" /> @item.text            
                        }
                    </div>
                    <div class="col-3">
                        <span asp-validation-for="QuestionType" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row row">
                    <label asp-for="Answer" class="col-sm-2 control-label">Answer :</label>
                    <div class="col-sm-4">
                        <input asp-for="Answer" class="form-control" />
                    </div>
                    <div class="col-3">
                        <span asp-validation-for="Answer" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row row">
                    <label asp-for="WrongAnswer" class="col-sm-2 control-label">Wrong Answer :</label>
                    <div class="col-sm-4">
                        <input asp-for="WrongAnswer" class="form-control" />
                    </div>
                    <div class="col-3">
                        <span asp-validation-for="WrongAnswer" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-offset-3 col-sm-10">
                        <input type="submit" class="btn btn-primary" value="Create" />
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

